/*
    Theodoro Bertol Dev (Abeelha)
    || Day 43 of #100DaysOfCode || 
*/

img {
  height: 200px;
  width: 200px;
}

.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}